header img
{
    width: 61.09px;
    height: 19px;
    padding-top: 44px;
    padding-left: 55px;
}

header h1
{
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    padding-top: 63px;
    padding-left: 55px;
    
    
}

header p
{
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    margin-top: 6px;
    margin-left: 55px;
    
}

header 
{
    
    display: flex;
    justify-content: space-between;
    
}

.text-logo-header
{
    display: flex;
    flex-direction: column;
    
}

.links-header 
{
    display: flex;
}

.links-header a
{
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    color: black;
    padding-right: 77px; 
    padding-left: 48px;    
    padding-top: 48px;
}

.links-header a:hover
{
    color: #0065fc;
    border-top: 2px solid #0065fc;
}

form
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 55px;
}

form button
{
    background-color: #0065fc;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    border-style: none;
    border-bottom: 1px solid #0065fc;
    border-radius: 0px 15px 15px 0px;
    width: 132px;
    height: 49px;
    margin-left: -5px;

}

form input
{
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    color: black;
    font-weight: 700;
    border-top: 1px solid #f2f2f2;
    border-bottom: 1px solid #f2f2f2;
    border-left: none;
    border-right: none;
    height: 45px;
    padding-left: 16px;
    padding-right: 5px;
}

i
{
    
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 15px 0px 0px 15px;
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 16px;
    padding-bottom: 15px;
}

.filter
{
    font-family: 'Raleway', sans-serif;
    display: flex;
    margin-left: 62px;
    margin-top: 45px;
    margin-right: 464px;
    justify-content: space-between;
    align-items: center;
}

.filter h3
{
    width: 54px;
    height: 21px;
}

.filter button
{
    font-family: 'Raleway', sans-serif;
    font-size: 17px;
    border: 2px solid #d9d9d9;
    border-radius: 25px;
    display: flex;
    align-items: center;
    background-color: white;
}

.filter button:hover
{
    background-color: #deebff;
}

.filter i
{
    color: #0065fc;
    background: none;
    border-style: none;
}

.eco
{
    width: 190px;
    height: 48px;
}

.family
{
    width: 145px;
    height: 48px;
}

.romantic
{
    width: 180px;
    height: 48px;
}

.pet
{
    width: 240px;
}
